# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.gitignore
/description.html
/encodings.xml
/misc.xml
/modules.xml
/project-template.xml
/runConfigurations.xml
/vcs.xml
